<div class="new">
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1>ブログ投稿画面</h1>
<%= form_with(model: @blog, local:true,url: confirm_blogs_path) do |form| %>
 <div>
   <h2><%=form.label:ブログ内容%></h2>
 </div>
 <div>
   <%=form.text_field:content%>
 </div>
 <div class="btn btn-primary">
 <%= form.submit 'ブログ投稿'%>
  </div>
<%end%>
</div>
