<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="users_show_all">
    <div class ="users_show_content">
    <h2><%= link_to "ブログ一覧画面へ",blogs_path %></h2>
    <h1><%=@user.name%>さんのお気に入り一覧</h1>
    <% @favorites_blogs.each do |favorites_blogs| %>
      <p><%=favorites_blogs.content%></p>
      <p><%=image_tag favorites_blogs.image%></p>
    <%end%>
    </div>
</div>
