<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <header class ="header">

        <div class ="left">
        <ul>
          <li><a href="/blogs/top">トップ</a></li>
          <li><a href="/blogs">一覧</a></li>
          <li><a href="/blogs/new">投稿</a></li>
          <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
        </ul>
        </div>

          <div class="right">
            <ul>
              <li>ログイン中のユーザー<%=@current_user.name%>さん</li>
              <%= image_tag @current_user.image %>
            </ul>
          </div>
      </header>

      <%= yield %>

      <footer class="footer">
        <p>Bootstrap_Series challenges</p>
      </footer>
    </body>
</html>
